<div class="container">
    <%= form_with model: @tweet do |f| %>
        
        <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
        </div>
    
        <div class="actions">
            <p><%= f.submit "Tweet", :name => "true" %>
            <%= f.submit "Save as Draft", :name => "false" %></p>   
        </div>
    <% end %>
</div>